#catalog .products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 12px;
}

#catalog .card img {
  max-width: 280px;
  max-height: 240px;
  object-fit: cover;
  border-radius: 6px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#catalog .back {
  margin-top: 12px;
  display: inline-block;
  text-decoration: none;
  color: #0000EE;
}





#catalog .new-label {
  color: red;
  font-size: 1.2em;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(8) infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 12ch; }
}

#catalog #search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;

  border: 1px solid #cbd6e6;
  border-radius: 4px;
  max-width: 99%;
}

