article {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

fieldset {
  border: 1px solid #cbd6e6;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 12px;
}

label {
  display: block;
  margin-top: 8px;
}

input[type=text],
input[type=email],
input[type=number],
select,
textarea {
  width: 100%;
  padding: 8px;
  padding-right: 0;
  border: 1px solid #cbd6e6;
  border-radius: 4px;
  max-width: 99%;

}

textarea {
  resize: vertical;
  min-height: 120px;
  max-height: 200px;
}

.action {
  margin-top: 12px;
}





.row {
  display: flex;
  gap: 22px;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.row > * {
  flex-grow: 1;
  flex-shrink: 1;
  order: 0;
  align-self: stretch;
}

fieldset {
  display: flex;
  flex-direction: column;
}

.consent {
  align-self: flex-start;
}



.tooltip {
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  display: none;
  z-index: 10;
  right: 0;
  width: 20%;
}